@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Code+Pro:wght@200&display=swap');
$green:  #59f9a4b3;
$orange: rgb(255, 119, 0);
$grey: #e2e0e0;

.component-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  .resour{
    position: absolute;
    margin-left: 200px;
    padding: 7px;
    &:hover{
      background: #ebe8e8;
      border-radius: 3px;
      cursor: pointer;
    }
    &::after{
      content: '';
      display: inline-block;
      width: 16px;
      height: 8px;
      background: url('https://mailchimp.com/release/plums/cxp/images/global_nav/icon-caret-down.ca1e2922.1.svg') no-repeat 100%;
      background-size: contain;
      margin-left: 5px;
      transition: 0.4s;
    }
  }
  .re{

    &::after{
      content: '';
      display: inline-block;
      width: 16px;
      height: 8px;
      rotate: 180deg;
      background: url('https://mailchimp.com/release/plums/cxp/images/global_nav/icon-caret-down.ca1e2922.1.svg') no-repeat 100%;
      transition: 0.4s;
      background-size: contain;
      margin-left: 5px;
    }
  }
  .upper{
    position: fixed;
    width: 400px;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    height: 200px;
    margin-bottom: 70px;
    z-index: 999;
    background: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      padding: 5px 10px ;
      background: transparent;
      color: #fff;
      border: 1px solid #464646;
      border-radius: 2px;
      cursor: pointer;
      letter-spacing: 2px;
      transition: all 0.4s;
      &:hover{
        border: 1px solid #a4a4a4;
        transition: all 0.4s;
      }
    }
    input{
      margin: 15px 0;
      outline: none;
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      color: #fff;
      width: 200px;
    }
  }
  .up{
    display: none;
  }
  .activeRes{
    &:hover{
      background: #ebe8e8;
      border-radius: 3px;
      cursor: pointer;
    }
    &::after{
      content: '';
      display: inline-block;
      width: 16px;
      height: 8px;
      rotate: 180deg;
      background: url('https://mailchimp.com/release/plums/cxp/images/global_nav/icon-caret-down.ca1e2922.1.svg') no-repeat 100%;
      background-size: contain;
      margin-left: 5px;
    } 
  }
  .socials{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .social{
      margin: 0 10px;
      transition: all 0.4s;
      &:hover{
        cursor: pointer;
        color: #858585;
        transition: all 0.4s;
      }
    }
  }
  .logo{
    font-size: 70px;
    text-shadow: 10px 10px #727272;
    color: #333;
  }
        .line-1{
            border-bottom: 2px solid #000;
            border-top: 2px solid #000;
            height: 15px;
            width: 70px;
            cursor: pointer;
            .border-inside{
              border-bottom: 1px solid #fff;
              margin-top: 7px;
            }
        }
        .active{
          display: none;
        }
     .btn{
      font-size: 25px;
     }
      .sidebar{
        background: #000;
        opacity: 0.8;
        color: #fff;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        height: 100%;
        width: 300px;
        .btn{
          margin-top: 20px;
          margin-left: 220px;
          font-size: 40px;
          width: 50px;
          &:hover{
            cursor: pointer;
            color: #999;
            transition: all 0.3s;
          }
        }
        ul{
          display: flex;
          flex-direction: column;
          justify-content: center;
          list-style: none;
          height: 100%;
          width: 100%;
          li{
            text-transform: uppercase;
            padding: 10px 0;
              a{
                text-decoration: none;
                color: #fff;
                &:hover{
                  cursor: pointer;
                  color: #999;
                  transition: all 0.3s;
                }
              }
          }
        }
      }
    
}
  
.component-2{
  display: flex;
  justify-content: center;
  background: #e9e7e7;
  .carousel{
    width: 1000px;
    height: 500px;
  }
}





.component-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
  .design{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
  }
}







