@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-color2: rgb(120, 118, 120);

$text-color: #fff;

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    color: $text-color;
    color: #000;
    width: 100%;
    height: 100%;
}



