@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-color2: rgb(120, 118, 120);

$text-color: #fff;

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    color: $text-color;
    animation: ref 1s linear;
    color: #000;
}


@media screen and (min-width: 888px) {
}

@keyframes ref {
    from{
        opacity: 0.9;
    }
    to{
        opacity: 1;
    }
}