.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    // height: 520px;
    .line{
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(231, 229, 229, 0.6);
        button{

            
            outline: none;
            border: none;
            padding: 15px 60px;
            cursor: pointer;
            background: #fff;
            letter-spacing: 1px;
        }
        .btn1{
            &:focus{
                border-bottom: 1px solid #000;
            }
            &:hover{
                border-bottom: 1px solid #000;
            }
        }
        .btn2{
            &:focus{
                border-bottom: 1px solid #000;
            }
            &:hover{
                border-bottom: 1px solid #000;
            }
        }
    }
    form{
        width: 350px;
        display: flex;
        flex-direction: column;
        .email{
            outline: none;
            border: none;
            padding: 10px;
            border-bottom: 1px solid #000;
        }
        .password{
            outline: none;
            border: none;
            margin-top: 40px;
            padding: 10px;
            border-bottom: 1px solid #000;
        }
        .checkbox{
            position: relative;
            display: flex;
            align-items: center;
            margin: 20px 0;
            p{
                font-size: 13px;
                margin: 0 20px;
                
            }
            a{
                font-size: 11px;
                color: #999;
                letter-spacing: 1px;
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
            .checkbox_input{
                -webkit-appearance: none;
                appearance: none;
                position: absolute;
                &:checked + .checkbox_label::before{
                    background: #ddd;
                    border: none;
                    
                }
                &:checked + .checkbox_label::after{
                    opacity: 1;
                }
            }
            .checkbox_label{
                margin: 10px 10px;
                cursor: pointer;
                font-size: 1rem;
                color: #444;
                &::before{
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #333;
                    border-radius: 5px;
                    background: #ddd;
                    border: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: opacity .1s linear;

                }
                &::after{
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-image: url('../img/check.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    transition: opacity .1s linear;
                    
                }
            }
        }
        .enter{
            padding: 10px 20px;
            background: #000;
            border:  none;
            color: #fff;
            transition: .4s;
            &:hover{
                cursor: pointer;
                transition: .4s;
                opacity: 0.7;
            }
        }
        .mini-text{
            display: flex;
            justify-content: center;
            text-decoration: underline;
            text-underline-offset: 5px;
            color: #9999;
            font-size: 12px;
            margin: 20px 0;
            cursor: pointer;
            transition: .5s;
            &:hover{
                transition: .5s;
                color: #000;
            }
        }
        .solid{
            height: 0.5px;
            background: #000;
        }
        .mini-text2{
            display: flex;
            justify-content: center;
            font-size: 10px;
            margin-top: 20px;
            color: #9999;
            span{
                text-decoration: underline;
                text-underline-offset: 5px;
                cursor: pointer;
                margin-left: 5px;
                transition: .5s;

                &:hover{
                    color: #000;
                    transition: .5s;
                }
            }
        }
    }
}




@media screen and (max-width: 1060px) {

    .Login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        .line{
            margin-bottom: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid rgba(231, 229, 229, 0.6);
            button{
    
                
                outline: none;
                border: none;
                padding: 15px 60px;
                cursor: pointer;
                background: #fff;
                letter-spacing: 1px;
            }
            .btn1{
                &:focus{
                    border-bottom: 1px solid #000;
                }
                &:hover{
                    border-bottom: 1px solid #000;
                }
            }
            .btn2{
                &:focus{
                    border-bottom: 1px solid #000;
                }
                &:hover{
                    border-bottom: 1px solid #000;
                }
            }
        }
        form{
            width: 300px;
            display: flex;
            flex-direction: column;
            .email{
                outline: none;
                border: none;
                padding: 10px;
                border-bottom: 1px solid #000;
            }
            .password{
                outline: none;
                border: none;
                margin-top: 40px;
                padding: 10px;
                border-bottom: 1px solid #000;
            }
            .checkbox{
                position: relative;
                display: flex;
                align-items: center;
                margin: 20px 0;
                p{
                    font-size: 13px;
                    margin: 0 20px;
                    
                }
                a{
                    font-size: 11px;
                    color: #999;
                    letter-spacing: 1px;
                    &:hover{
                        text-decoration: underline;
                        text-underline-offset: 5px;
                    }
                }
                .checkbox_input{
                    -webkit-appearance: none;
                    appearance: none;
                    position: absolute;
                    &:checked + .checkbox_label::before{
                        background: #ddd;
                        border: none;
                        
                    }
                    &:checked + .checkbox_label::after{
                        opacity: 1;
                    }
                }
                .checkbox_label{
                    margin: 10px 10px;
                    cursor: pointer;
                    font-size: 1rem;
                    color: #444;
                    &::before{
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #333;
                        border-radius: 5px;
                        background: #ddd;
                        border: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        transition: opacity .1s linear;
    
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        background-image: url('../img/check.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: opacity .1s linear;
                        
                    }
                }
            }
            .enter{
                padding: 10px 20px;
                background: #000;
                border:  none;
                color: #fff;
                transition: .4s;
                &:hover{
                    cursor: pointer;
                    transition: .4s;
                    opacity: 0.7;
                }
            }
            .mini-text{
                display: flex;
                justify-content: center;
                text-decoration: underline;
                text-underline-offset: 5px;
                color: #9999;
                font-size: 12px;
                margin: 20px 0;
                cursor: pointer;
                transition: .5s;
                &:hover{
                    transition: .5s;
                    color: #000;
                }
            }
            .solid{
                height: 0.5px;
                background: #000;
            }
            .mini-text2{
                display: flex;
                justify-content: center;
                font-size: 10px;
                margin-top: 20px;
                color: #9999;
             
            }
        }
    }
    
    
}